<template name="Header">
    <nav class="navbar navbar-inverse navbar-embossed navbar-lg" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-04">
                <span class="sr-only">Toggle navigation</span>
              </button>
            <a class="navbar-brand" href="#">Flat UI</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-04">
            <ul class="nav navbar-nav">
                <li><a href="#">Messages<span class="navbar-unread">1</span></a></li>
                <li class="active"><a href="#">About Us</a></li>
                <li><a href="#">Clients</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">MonsterCritic <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</template>