<template name="Header">
    <nav class="navbar navbar-inverse navbar-embossed navbar-lg" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-04">
                <span class="sr-only">Toggle navigation</span>
              </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-04">
            <ul class="nav navbar-nav">
                <li><a href="/movies">Movies<span class="navbar-unread">1</span></a></li>
                <li><a class="current-user">{{> loginButtons}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/settings">
                        <span class="visible-sm visible-xs">
                            Settings <span class="fa fa-cog fa-spin fa-lg fa-fw"></span>
                        </span>
                        <span class="visible-md visible-lg">
                            Settings <span class="fa fa-cog fa-spin fa-lg fa-fw"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</template>